{% extends "base_generic.html" %}

{% block title %} Articles {% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">
{% endblock %}

{% block content %}
    {% include "navigation.html" %}
    {% if articles %}
        <h1>Articles</h1>
        <ul>
            <li><a href="{% url 'articles:publications' %}">My publications</a></li>
            <li><a href="{% url 'articles:favorites' %}">Favorites</a>
        </ul>
        <table>
            <tr>
                {% for headline in headlines %}
                    <th>{{ headline }}</th>
                {% endfor %}
            </tr>
            {% for article in articles %}
                <tr>
                    <td><a href="{% url 'articles:article_detail' article.pk %}">{{ article.title }}</a></</td>
                    <td> {{ article.author }}</td>
                    <td> {{ article.synopsis }}</td>
                    <td> {{ article.created }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data available</p>
    {% endif %}
{% endblock %}
