{% extends "base_generic.html" %}

{% block title %}My publications{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'navigation.html' %}
    {% if publications %}
        <h1>My publications</h1>
        <table>
            <tr>
                {% for headline in headlines %}
                    <th>{{ headline }}</th>
                {% endfor %}
            </tr>
            {% for publication in publications %}
                <tr>
                    <td>{{ publication.synopsis }}</td>
                    <td>{{ publication.created }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data available</p>
    {% endif %}
{% endblock %}
