body {
    padding-top: 75px;
    padding-bottom: 75px;
}

.main-title {
    margin-bottom: 35px;
    text-align: center;
}

.form-control {
    height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
}

.form-control:focus {
    background: #e2e2e2;
}

.form-control, .btn {        
    border-radius: 3px;
}

.auth-form {
    width: 390px;
    margin: 30px auto;
}

.auth-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.auth-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.auth-form .form-group{
    margin-bottom: 20px;
}

.auth-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    min-width: 140px;
}

.auth-form .btn:hover, .auth-form .btn:focus {
    background: #2389cd !important;
    outline: none;
}

.auth-form a:hover {
    text-decoration: none;
}

.auth-form form a {
    color: #3598dc;
    text-decoration: none;
}

.auth-form form a:hover {
    text-decoration: underline;
}

.auth-form .hint-text {
    color: #333;
    padding-bottom: 15px;
    text-align: center;
}

table, th, td {
  border: 1px solid #ddd;
}

.creation-form {
    width: 100%;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
}

.tip-table {
    width: 100%;
}

.left-side {
    width: 200px;
    text-align: center;
}

.right-side {
    text-align: right;
}

.custom-btn-size {
    width: 30px !important;
}
