<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a class="navbar-brand" href="/">
            Hello, {{ user }}!
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
        <ul class="navbar-nav mr-auto flex-nowrap">
            {% if not user.is_authenticated %} 
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Log in</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'signup' %}" class="nav-link">Sign up</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Log out</a>
                </li>
            {% endif %}
        </ul>
</nav>
