{% extends "base_generic.html" %}

{% block title %} Articles {% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'article/style.css' %}">
{% endblock %}

{% block content %}
        Hello, {{ user }}
        <br><a href="{% url 'logout' %}">log out</a>
        {% if articles %}
            <h1>Articles</h1>
            <table>
                <tr>
                    {% for headline in headlines %}
                        <th>{{ headline }}</th>
                    {% endfor %}
                </tr>
                {% for article in articles %}
                    <tr>
                        <td> {{ article.title }}</td>
                        <td> {{ article.author }}</td>
                        <td> {{ article.created }}</td>
                        <td> {{ article.synopsis }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p><strong>No data available</strong></p>
        {% endif %}
        <p><a href="{% url 'article-add' %}">Create article</a></p>
{% endblock %}
