{% extends "base.html" %}

{% block title %}
    display
{% endblock %}

{% block style %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'ex04/style.css' %}">
{% endblock %}

{% block content %}
    <table>
        {% if contents %}
            <tr>
                {% for title in titles %}
                    <th> {{ title }} </th>
                {% endfor %}
            </tr>
                {% for content in contents %}
                <tr>
                    {% for item in content %}
                        {% if item %}
                            <td> {{ item }} </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
        {% else %}
            <tr> No data available </tr>
        {% endif %}
{% endblock %}

