{% extends "base.html" %}


{% block title %}
    Login
{% endblock %}


{% block content %}
    {% include "nav.html" %}
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert"></a>
            {{ message }}
        </div>
        {% endfor %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="log in">
        </form>
</div>
{% endblock %}
