{% extends "base.html" %}


{% block title %}
    Login
{% endblock %}


{% block content %}
    {% include "nav.html" %}
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert"></a>
            {{ message }}
        </div>
        {% endfor %}

    <div class="d-inline-flex p-2">
        <form method="POST">
            {% load bootstrap4 %}
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
            <input class="btn btn-dark" type="submit" value="log in">
        </form>
</div>
{% endblock %}
