{% extends "base.html" %}


{% block title %}
    Log in
{% endblock %}

{% block style %}
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href="{% static 'ex/style.css' %}">
{% endblock %}


{% block content %}
    {% include "nav.html" %}
    <div class="auth-form">
        <form method="post">
            {% csrf_token %}
            <h2>Log in</h2>
            {% bootstrap_form form %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Log in</button>
            </div>
        </form>
        <div class="hint-text">Don't have an account? <a href="{% url 'signup' %}" class="nav-link">Sign up</a></div>
    </div>
{% endblock %}
