{% extends "base.html" %}


{% block title %}
    Sign up
{% endblock %}

{% block style %}
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href="{% static 'ex/style.css' %}">
{% endblock %}

{% block content %}
    {% include "nav.html" %}
    <div class="auth-form">
        <form method="post" class="form">
            {% csrf_token %}
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
            {% bootstrap_form form %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        </form>
        <div class="hint-text">Already have an account? <a href="{% url 'login' %}" class="nav-link">Log in</a></div>
    </div>
{% endblock %}
