{% extends "base.html" %}


{% block title %}
    Edit
{% endblock %}

{% block style %}
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href="{% static 'ex/style.css' %}">
{% endblock %}


{% block content %}
    {% include "nav.html" %}
        <div class="content">
            <h1 class="main-title">Edit your tip here</h1>
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                <input class="btn btn-primary" type="submit" value="Save edits">
                <a class="btn btn-light" href="{% url 'index' %}">Cancel</a>
            </form>
        </div>
{% endblock %}
