{% extends "base_generic.html" %}

{% block title %}Change your background{% endblock %}

{% load static %}

{% block scripts %}
    <script src="{% static 'background_changer/script-background.js' %}"></script>
{% endblock %}

{% block style %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href="{% static 'background_changer/style.css' %}">
{% endblock %}

{% block content %}
    {% if background_image %}
        <script>change_background_image("{{ background_image.upload.url }}")</script>
    {% endif %}
    <div class='upload-form'>
        <form method="POST" enctype="multipart/form-data">
            <h2>Upload an image to change the background now!</h2>
            {% csrf_token %}
            {% bootstrap_form form  layout='inline' %}
            <input class="btn btn-success btn-block" type="submit" value="Upload">
        </form>
    </div>
{% endblock %}
