{% extends "base.html" %}

{% block title %} 
    It ex01 : the Process of displaying a static page. 
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ex01/style1.css' %}">
{% endblock %}

{% block content %}
{% include "nav.html" %}
<h1> How to work static web page view in django</h1>
<ul>
    <li>Django finds url in urlpatterns</li>
    <li>Django finds view connected with this url</li>
    <li>Django django finds html template passed to the render function and send the response</li>
{% endblock %}
